<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- [FormGroup] directive overrides default HTML behavior
          HTML will otherwise make its own form. -->
      <form [formGroup]="signupFormX" (click)="onSubmitThis()">
        <div class="form-group">
          <!-- fromControlName ="name" directs to one of the
           properties in FormGroup() on the TS sheet -->
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="userData.username"
            class="form-control">
            <span
              *ngIf="!signupFormX.get('username').valid && signupFormX.get('username').touched"
              class="help-block">Please enter a valid Username!</span>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            formControlName="userData.email"
            class="form-control">
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <!-- this section is dynamic. Will work with an array in TS sheet -->
          <h4>Your Hobbies</h4>

          <button
            class="btn btn-primary"
            type="button"
            (click)="onAddHobby()">Add Hobby</button>
          <div
            class="form-group"
            *ngFor="let hobbyControl of signupFormX.get('hobbies').controls; let i = index">
            <input type="text" [formControlName]="i">
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
