<label>Server Name</label>
<input
  type="text"
  class="formcontrol"
  (input)="onUpdateServerName($event)">
<!--<input
[(ngModel)]="serverName"> -->
<!--<p>My name is... {{ serverName }}</p>-->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer"> Server was created and its name is {{ serverName }}</p>
<ng-template #noServer><p> No Server here!</p></ng-template>
<app-server *ngFor="let server of servers"></app-server>

<p>Loaded via HTML serversbox file.</p>
